CheatSudoku/obj/CheatSudoku.csproj.nuget.dgspec.json
CheatSudoku/obj/project.assets.json
CheatSudoku/obj/project.nuget.cache
CheatSudoku/obj/Debug/net9.0-android/CheatSudoku.csproj.AssemblyReference.cache
CheatSudoku/obj/Debug/net9.0-android/libraryprojectimports.cache
CheatSudoku/obj/Debug/net9.0-android/designtime/build.props
CheatSudoku/obj/Debug/net9.0-ios/iossimulator-x64/CheatSudoku.AssemblyInfo.cs
CheatSudoku/obj/Debug/net9.0-ios/iossimulator-x64/CheatSudoku.AssemblyInfoInputs.cache
CheatSudoku/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/CheatSudoku.AssemblyInfo.cs
CheatSudoku/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/CheatSudoku.AssemblyInfoInputs.cache
CheatSudoku/obj/*
CheatSudoku/bin/*
CheatSudoku/obj/CheatSudoku.csproj.nuget.dgspec.json
CheatSudoku/obj/project.assets.json
CheatSudoku/obj/project.nuget.cache
CheatSudoku/obj/Debug/net9.0-android/CheatSudoku.csproj.AssemblyReference.cache
CheatSudoku/obj/Debug/net9.0-android/libraryprojectimports.cache
CheatSudoku/obj/Debug/net9.0-android/designtime/build.props
CheatSudoku/obj/Debug/net9.0-ios/iossimulator-x64/CheatSudoku.AssemblyInfo.cs
CheatSudoku/obj/Debug/net9.0-ios/iossimulator-x64/CheatSudoku.AssemblyInfoInputs.cache
CheatSudoku/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/CheatSudoku.AssemblyInfo.cs
CheatSudoku/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/CheatSudoku.AssemblyInfoInputs.cache
CheatSudoku/obj/CheatSudoku.csproj.nuget.dgspec.json
CheatSudoku/obj/project.assets.json
